.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.footer .social_list li .social_link {
    text-decoration: none;
    color: var(--color-white);
}

.social_list li .social_link:hover {
    color: var(--color-golden);
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: var(--color-golden);
}